.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.numeroDisplay{
    text-align:right;
    border:2px solid #0b0b7752;
    border-radius: 10%;
    margin: 3px;
    padding: 3px;
}

body{

     background-color: #dddddd ;
}
#numeroActual{
    background-color: #fff;
}

.botonCalc{
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: #fff;
    color: #0000ff;
}
.botonOP{
    font-size: large;
    background-color: #0000ff;
    color: #fff;
}